/*=======CSS fonts and icons not included*/
:root {
    --header-height: 3rem;
    --hue-color: 230;
    --first-color: hsl(var(
    --hue-color), 69%, 61%);
    --first-color-second: hsl(var(
    --hue-color), 69%, 61%);
    --first-color-alt: hsl(var(
    --hue-color), 57%, 53%);
    --first-color-wall: hsl(120, 35%, 68%);
    --first-color-wallbut: hsla(129, 65%, 25%, 0.767);    
    --first-color-lighter: hsl(var(
    --hue-color), 92%, 85%);
    --title-color: hsl(var(
    --hue-color), 8%, 15%);
    --text-color: rgba(138, 228, 176, 0.541);
    --text-color-light: hsl(var(
    --hue-color), 8%, 65%);
    --input-color: hsl(var(
    --hue-color), 70%, 96%);
    --body-color: hsl(var(
    --hue-color), 60%, 99%);
    --container-color: #fff;

    --body-font:
    'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875;
        --smaller-font-size: .813rem;
    }


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
    color: rgb(90, 90, 90);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    color: #fff;
}

.section_title,
.section_subtitle {
    text-align: center;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    /* gap: 1.5rem; */
}

.header {
    width: 100%;
    position: fixed;
    /* bottom: 0;
    left: 0; */
    z-index: var(--z-fixed);
    background-color: rgba(58, 148, 97, 0.959);
}

.nav {
    max-width: 968px;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggles {
    color: rgba(3, 59, 27, 0.815);
    font-weight: var(--font-medium);
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggles:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: rgba(58, 148, 97, 0.959);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

/* grid template columns not known*/
.nav_list {
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.2rem;
}

.nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    top: 0;
}
.home{
    background: url("assets/Screenshot (151).png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.skills{
    background-image: url('assets/Screenshot (151).png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.about,.services{
    background: linear-gradient(hsla(129, 65%, 25%, 0.767),rgba(3, 59, 27, 0.815));
}
.contactme{
    background: url('assets/Screenshot (151).png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.h{
    margin-bottom: 6.8rem;
}
.home_img{
    position: relative;
    left: 100px;
    right: auto;
    border: 4px solid var(--first-color-wall);
    border-radius: 15px 50px;
    /* centers the border */
    width: auto;
    padding: auto;
    margin: auto;
    overflow: hidden;
    height: 90%;

}
/* I am a freelance web developer with skills in Python and web development. I have some experience in building portfolio and e-commerce websites for various clients. I can create responsive, user-friendly and secure websites using modern frameworks and tools. I can also handle backend development, database integration and deployment. I am looking for web development projects that match my skills and interests. I am reliable, communicative and deadline-oriented. My hourly rate is $25, but I am open to negotiation depending on the project scope and complexity. If you are interested in working with me, please contact me with your project details and budget. */

p {
    line-height: 1.5rem;
}

.home_data {
    grid-column: 1/3;
}

.home_title {
    margin-top: 2.5rem;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-75);
    color: rgba(0, 0, 0, 0.705);
}

.home_subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_desc {
    margin-bottom: var(--mb-0-75);
    color: #c0f0c4;
}

.button {
    display: inline-block;
    background-color: var(--first-color-wallbut);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-family: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button_icon {
    font-size: 1.25rem;
    transition: .3s;
    margin-left: var(--mb-0-5);
}
.button--flex{
    display: inline-flex;
    align-items: center;
}
.button--small{
    padding: .75rem 1rem;
}
.button--link{
    padding-left: 0;
    background-color: transparent;
    color: var(--first-color);
}
.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}
.about_img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-items: center;
}

.about_desc {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about_info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about_info-name {
    font-size: var(--smaller-font-size);
}

.about_info-title,
.about_info-name {
    display: block;
    text-align: center;
}

.about_buttons{
    display: flex;
    justify-content: center;
}
.skills_container{
    row-gap: 0;
    height: fit-content;
}
.skills_header{
    display: inline-flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
    flex-direction: column;

}
.skills_icon,
.skills_arrow{
    font-size: 2rem;
    color: rgba(3, 58, 27, 0.815);
}
.skills_icon{
    margin-right: var(--mb-0-75);
}
.skills_title{
    font-size: var(--h3-font-size);
    padding-left: 0px;
}
.skills_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.skills_arrow{
    margin-left: auto;
    transition: .4s;
}
.skills_content{
    position: relative;
}
.skills_list{
    
    row-gap: 1.5rem;
    /* position: relative;
    left: -20%; */
    padding-left: 2px;
}
.skills_number{
    text-align: right;
    position: relative;
    right: -100px;
}
.fig{
   padding-left: 20px; 
}
.fig_title{
    padding-left: 0px;
}
.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
    /* padding-left: 0px; */
}
.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    padding-left: 0px;
}
.skills_bar,
.skills_percent{
    height: 5px;
    border-radius: .25rem;
    /* display: block; */
}
.skills_bar{
    background-color: rgba(2, 68, 31, 0.247);
    width: 190%;
    margin-bottom: 10px;
}
.skills_percent{
    display: block;
    background-color: rgba(3, 58, 27, 0.815);
}
.skills_html{
    width: 90%;
}
.skills_css{
    width: 70%;
}
.skills_js{
    width: 60%;
}
.skills_react{
    width: 10%;
}
.skills_dbms{
    width: 60%;
}
.skills_php{
    width: 20%;
}
.skills_node{
    width: 10%;
}
.skills_python{
    width: 70%;
}
.skills_figma{
    width: 70%;
}
.skills_photoshop{
    width: 70%;
}
.skills_close .skills_list{
    height: 0;
    overflow: hidden;
}
.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}
.skills_open .skills_arrow{
    transform: rotate(-180deg);
}

.services_container{
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}
.services_content{
    position: relative;
    background-color: rgba(138, 228, 176, 0.541);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(3, 58, 27, 0.575);
    transition: .3s;
}
.services_content:hover{
    box-shadow: 0 4px 8px rgba(3, 58, 27, 0.815);
}
.services_icon{
    display: block;
    font-size: 1.5rem;
    color: rgba(3, 58, 27, 0.815);
    margin-bottom: var(--mb-1);
}
.services_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}
.services_button{
    cursor: pointer;
    font-size: var(--small-font-size);
}
/* what happened */
.services_button:hover, .button_icon{
    transform: translateX(.25rem);
}
/* position:fixed shows more*/
.services_modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.services_modal-content{
    position: relative;
    background-color: rgba(9, 126, 58, 0.795);
    padding: 1.5rem;
    border-radius: .5rem;
}
.services_modal-services{
    row-gap: 1rem;
}
.services_modal-service{
    display: flex;
}
.services_modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}
.services_modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.services_modal-icon{
    color: rgba(3, 59, 27, 0.815);
    margin-right: var(--mb-0-25);
}
.active-modal{
    opacity: 1;
    visibility: visible;
}
.contact_container{
    row-gap: 3rem;
}
.contact_info{
    display: flex;
    margin-bottom: var(--mb-2);
}
.contact_icon{
    font-size: 2rem;
    color: rgba(83, 211, 94, 0.651);
    margin-right: var(--mb-0-75);
}
.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.contact_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
